spring:
  application:
    name: flyway-migration-task
  datasource:
    url: jdbc:mysql://localhost:3306/person_dev?user=root&useSSL=false&useTimezone=true&serverTimezone=UTC&useLegacyDatetimeCode=false

flyway:
  enabled: true
  validate-on-migrate: true
  baseline-on-migrate: true

migrate:
  task: false
  command: stage # stage, migrate

endpoints:
  actuator:
    enabled: true
  flyway:
    enabled: true

management:
  security:
    enabled: false
